<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Another Movie</title>
</head>
<body>
    <header>
        <h1>Another Movie</h1>
        <nav>
            <a href="{{ url_for('index') }}">Películas Disponibles</a>
            <a href="{{ url_for('add_movie') }}">Agregar Película</a>
            <a href="{{ url_for('rentals') }}">Historial de Alquileres</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
